.inner {
    max-width: 1170px;
    margin: 0 auto;
}

.default {
    padding: 80px 0;
}

.default .tit {
    max-width: 1170px;
    margin: 0 auto 40px auto;
}

.default .tit h2 {
    margin: 0 0 16px 0;
    font-size: 40px;
    font-weight: 800;
}

.default .tit p {
    font-size: 16px;
    font-weight: 400;
}