.sc01 {
    padding: 120px 0;
}

.sc01 .tit {
    width: 1170px;
    margin: 0 auto 40px auto;
}

.sc01 .tit h2 {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 16px 0;
}

.sc01 .tit p {
    font-size: 16px;
    font-weight: 400;
}

.sc01 .inner {
    display: flex;
    gap: 30px;
    width: 1170px;
    margin: 0 auto;
}

.sc01 .inner>* {
    flex: 1;
}

.sc02 {
    padding: 120px 0;
    background: #f9f9f9;
}

.sc02 .tit {
    width: 1170px;
    margin: 0 auto 40px auto;
}

.sc02 .tit h2 {
    font-family: 'GmarketSans';
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.sc02 .tit p {
    font-size: 16px;
    font-weight: 400;
}

.sc02 .inner {
    display: flex;
    gap: 30px;
    width: 1170px;
    margin: 0 auto;
}

.sc02 .inner>* {
    flex: 1;
}

.sc03 {
    padding: 120px 0;
}

.sc03 .inner {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    gap: 30px;
}

.sc03 .inner>* {
    flex: 1;
}

.sc03 .tit {
    padding: 24px 0 0 0;
}

.sc03 .tit h2 {
    font-family: 'GmarketSans';
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.sc03 .tit p {
    font-size: 16px;
    font-weight: 400;
}

.sc03 .right img {
    border-radius: 16px;
}

.sc04 {
    padding: 120px 0;
    background: #f9f9f9;
}

.sc04 .inner {
    display: flex;
    gap: 30px;
    width: 1170px;
    margin: 0 auto;
}

.sc04 .inner>* {
    flex: 1;
}

.sc04 .inner .desc {
    order: -1;
}

.sc04 .tit {
    padding: 24px 0 0 0;
}

.sc04 .tit h2 {
    font-family: 'GmarketSans';
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.sc04 .tit p {
    font-size: 16px;
    font-weight: 400;
}

.sc04 .desc img {
    border-radius: 16px;
}

.sc05 {
    padding: 120px 0;
}

.sc05 .tit {
    margin: 0 0 40px 0;
}

.sc05 .tit h2 {
    font-family: 'GmarketSans';
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
    text-align: center;
}

.sc05 .tit p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.sc05 .inner {
    display: flex;
    gap: 30px;
}

.sc05 .inner>* {
    flex: 1;
}